<div class="jumbotron">
 <h1>{{hero}}</h1>
</div>
<div class="container">
  <p>Nombre del Empleado:{{nombre}}</p>
  <p>Edad:{{edad}}</p>  
  <p *ngIf="edad>=18">Es mayor de edad.</p>
  <table class="table table-dark">
    <tr>
      <td>Sueldos</td>
      
    </tr>
    <tr *ngFor="let sueldo of sueldos">
      <td>{{sueldo}}</td>
    </tr>
  </table>
</div>
<div class="container">
  <h2>Meses del Semestre</h2>
 <ul class="list-group" *ngFor="let mes of meses">
  <li class="list-group-item">{{mes}}</li> 
</ul>
</div>





