
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div style="text-align:center">
 <!--  <app-dado valor="{{valor1}}"></app-dado>
  <app-dado valor="{{valor2}}"></app-dado>
  <app-dado valor="{{valor3}}"></app-dado> * -->
  <app-dado [valor]="valor1"></app-dado><!-- Property binding (enlace de propiedades)* * * * * * * * * * * * -->
  <app-dado [valor]="valor2"></app-dado>
  <app-dado [valor]="valor3"></app-dado>
  <hr>
  <button (click)="tirar()">Tirar</button>  
  <hr>
  <p>Resultado:{{resultado}}</p>
</div>

<router-outlet></router-outlet>