
			<div	class="card-content">
							<div	class="card-img">
											<img	src="https://placeimg.com/380/230/nature"	alt="">
											<span><h4>{{position}}</h4></span>
                                            
							</div>
							<div	class="card-desc">
											<h3>{{destino.nombre}}</h3>
											<p>Servivios</p>
                                             <ul>
                                                 <li *ngFor="let s of destino.servicios"> <!-- for con un switche para recorrer el arreglo-->  
                                                 <span [ngSwitch]="s">
                                                 <i *ngSwitchCase="'desayuno'" style="color: red;">{{s}}</i>
                                                  <i *ngSwitchDefault>{{s}}</i>
                                                 </span>
                                                 </li>
                                             </ul>
												<a	href="#"	class="btn-card" (click)="ir()">Ir</a>
                                            <!-- indicativosi esta selecionado o no  -->  
                                               <!--  <span [style.display]="destino.isSelected() ? '': 'none'">-PREFERIDO-</span>--> 
                                                <span *ngIf="destino.isSelected()" >-PREFERIDO-</span>
                                                 <a [routerLink]="['/destino']"> Ver detalle</a> 
							</div>
			</div>
